[clickable]{
    cursor: pointer;
}
error {
    opacity: 0;
    transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
    display: block;
}
.increment::before{
    content: "+";
}
.decrement::after{
    content: "-";
}