.items {
    display: flex;
    flex-direction: row;
    height: 5rem;
    margin: 1rem;
    padding: 1rem;
    flex-wrap: nowrap;
    align-content: space-between;
    align-items: center;
    justify-content: center;
}

.items>*{
    margin: 10px;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

[clickable]{
    cursor: pointer;
}

[crossed]{
    text-decoration: line-through;
}
.items>.task {
    width: 100%;
    background: #d5d5d5;
    border: solid 2px #8f8d8d;
    border-radius: 17px;
    box-shadow: inset 0px 0px 7px 1px #948d8d;
}